[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.6"

[packages]
keras = "==2.3.1"
scipy = "==1.4.1"
numpy = "==1.18.0"
sounddevice = "==0.3.14"
soundfile = "==0.10.3.post1"
tensorflow = "==2.0.0"
plotly = "==4.4.1"
chart-studio = "==1.0.0"
h5py = "==2.10.0"

[dev-packages]
